# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.env
.venv
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
logs/*.csv

# Data (raw and processed)
data/raw/*
data/processed/*

# Models
models/*.pkl
models/*.joblib
models/*.json

# OS / Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/

# Uvicorn/FastAPI artifacts
*.log

.idea/
